[menu-bar] {
  display : flex;
  width : $container-width_desktop;
  margin : auto;
  border-left : solid 1px $black;
  border-right : solid 1px $black;
  li {
    padding : 6px 12px;
    a {
      &:link {
        color : lighten($black, 40%);
        text-decoration: none;
      }
      &:visited {
        color : lighten($black, 40%);
        text-decoration: none;
      }
      &:hover {
        color : $black;
        text-decoration: underline;
      }
      &:active {
        color : $black;
        text-decoration: underline;
      }


    }

  }


  background : $nav-bar-color;
}