$black : #123;

$white : #def;

$main-text-color : #343;

$header-color : $white;
$header-color-bg : lighten($black, 50%);

$nav-bar-color : lighten($black, 70%);

$error-message-color : orange;

$button-color : lighten($black, 30%);
$button-color-hover : lighten($black, 10%);
