// bower:scss
// endbower
@import "reset";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import "palette";
@import "dimensions";
@import "carousel";
@import "tab-menu";
@import "header";
@import "main-navigation";
@import "maps";
@import "form";

body {
  padding: 0;
  background : $black;
  color : $main-text-color;
  font-family: 'Roboto', sans-serif;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //max-width: 730px;
  }
}

.container {
  background : $white;
  margin : auto;
  padding : $padding;
  line-height : 1.5;
  width : $container-width_desktop;

}

.article {

  padding : 12px 0;
  text-align : justify;
  overflow : hidden;

  h2 {
    font-size : 32px;
  }

  .meta-info {
    font-style : italic;
    font-size : 12px;
  }

  p {
    font-family : "Times New Roman", serif;
    margin : 6px 0;
    line-height : 1.5;
  }

  img {
    float : right;
    width : 50%;
    border : solid 1px $black;
    margin-left : 12px;
  }
}




