


<carousel images="carouselImages"></carousel>

<article class="article">
    <h2>Introduction</h2>
    <p>

        Paddle Steamers are historical ships which are now firmly established favourites in the tourist industry, providing excursions amongst
        fine scenery on lake, river and in the case of the renowned Waverley, coastal cruises. Their fascinating steam engines, linked to large
        paddle wheels, are a unique selling point making a paddle steamer trip an extra special day out and retain many advantages
        over a diesel or oil engine despite their higher operating cost. Paddles also have their advantages in shallow waters and paddle
        steamers, like any other screw ship, can benefit from modern aids such as bow thrusters. In the appropriate place, professionally
        managed and marketed, paddle steamers could be a successful business proposition and a considerable benefit to the areas in which they are located.
    </p>

    <p>
        Those paddle steamers which survived the development of road networks, increased car ownership, the construction of bridges and
        the introduction of car ferries also had to face the pressure of ship operators which, if they were to continue at all, were
        under pressure to use smaller and cheaper ships. It looked bleak in the 1960s and early 1970s until enthusiast pressure
        groups raised the profile of this disappearing mode and the ships began to be heavily marketed for their own attractions
        as well as for the tourist excursion programmes they were forced to adopt as regular ferry service customers disappeared.
        Where conditions were right, they have survived and prospered : big marketing attractions despite higher costs than some
        newer technologies. Now it is almost unthinkable that paddle steamers would be withdrawn and scrapped and those still in
        existence are now being regularly renovated to the highest standards of structural integrity and passenger comfort. Even
        modern ships are being built and marketed as paddle steamers even though they are not strictly speaking either. Such is
        the cachet which is now associated with something which, not long ago, was seen as obsolete.
    </p>


</article>