<ui-gmap-google-map center='map.center' zoom='map.zoom'>

    <div ng-repeat="harbour in harbours">
        <ui-gmap-marker coords="harbour.coords" click="setArticle(harbour.options.title)" options="harbour.options"  idkey="harbour.id"></ui-gmap-marker>
    </div>


</ui-gmap-google-map>

<article class="article">
    <h2>{{ currentArticle.title }}</h2>
    <div class="meta-info">
        <span ng-if="currentArticle.author">written by : {{  currentArticle.author }}</span><!--
        --><span ng-if="currentArticle.author && currentArticle.published">,&nbsp;</span><!--
        --><span ng-if="currentArticle.published"> published : {{ currentArticle.published }}</span>
    </div>
    <img ng-if="currentArticle.img" ng-src="/images/{{ currentArticle.img }}">
    <section ng-bind-html="currentArticle.text"></section>
</article>